.simpex_standard {
	color: pink;
}
.simpex_string {
	color: black;
}
.simpex_commentLine, .simpex_commentVary {
	color: #969896;
	font-style:italic;

}
.simpex_variable {
	color: #63a35c;
}
.simpex_other {
	color: #6a1fa0;
}